{% extends 'convert/base.html' %}

{% block content %}
    <h1>Conversor de Moedas</h1>
    <form id="currency-form">
        <div class="form-group">
            <label for="from">De:</label>
            <select id="from" name="from">
                {% for coin in coins %}
                    <option value="{{ coin.name }}">{{ coin.abbreviation }}</option>
                {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <label for="to">Para:</label>
            <select id="to" name="to">
                {% for coin in coins %}
                    <option {% if coin.abbreviation == 'BRL' %}selected{% endif %} value="{{ coin.name }}">{{ coin.abbreviation }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Quantidade:</label>
            <input type="number" id="amount" name="amount" value="1" placeholder="Ex: 100">
        </div>
        <button type="submit">Converter</button>
    </form>
    <div id="result"></div>
{% endblock content %}